<launch>
  <group if="$(eval optenv('SPOT_VELODYNE', 0) and optenv('SPOT_VELODYNE_AUTOLAUNCH', 1))">
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
      <arg name="device_ip"   value="$(optenv SPOT_VELODYNE_HOST 192.168.131.20)" />
    </include>
  </group>
  <group if="$(eval optenv('SPOT_IMU', 0) and optenv('SPOT_IMU_AUTOLAUNCH', 1))">
    <include file="$(find microstrain_inertial_driver)/launch/microstrain.launch">
      <arg name="imu_frame_id"   value="imu" />
    </include>
  </group>
</launch>
